/* ----- Variables ------ */
:root{
  --mainColor: #73aba6;
  --mainColorDark: #26403e;
  --mainColorLight: #bfd9d7;
  --secColor: #907a70;
  --secColDark: #483d37;
  --secColLight: #c8bcb7;
  --black: #1b1b1b;
  --white: #edf6f6;
  --shadow: -2px 5px 10px #7e7e7e;
}

/* Custom Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik');
/* font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif; */

/* ----- Universal Styling ----- */

h1, h2, p, span, Link, li, ul {
  color: var(--black);
  font-family: 'Roboto';
}

a, Link, ul, li {
  text-decoration: none;

}

#nav, #home, #about, #contact, #footer, .burger_menu, .subcid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}



/* Nav */
#nav {
  flex-direction: row;
  background-color: var(--mainColor);
  width: 100vw;
  height: 4rem;
  max-width: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid 1px var(--mainColorDark);
}


#home, #about, #contact {
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  background-image: linear-gradient(to top, var(--mainColor), var(--white), var(--white));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home h1, #about h1 {
  margin: 2rem 0;
  font-weight: 1000;
  font-size: 1.5rem;
  text-align: center;
  color: var(--white);
}



/* Home */

/* About */

/* Contact */

/* Footer */

/* ----- Large: Desktop ----- */
@media(min-width: 1051px) {

/* Nav */
#nav {
  height: 5rem;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 100%;
  position: relative;
  left: 30rem;
}

#nav > h1 {
  color: var(--white);
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: .5rem;
}

.link {
  border: solid 1px var(--white);
  padding: .5rem 1.5rem;
  color: var(--white);
  font-size: 1.5rem;
  transition: .2s;
  letter-spacing: .3rem;
  border-radius: 5px;
}

.link:hover {
  color: var(--mainColor);
  background-color: var(--white);
  box-shadow: var(--shadow);
}


/* Home */
#home {
  position: relative;
  justify-content: flex-start;
}

#home > h1 {
  color: var(--mainColorDark);
  font-size: 5rem;
  margin: 7rem;
  padding-bottom: 4rem;
}

.subcids {
  position: relative;
  width: 80%;
  height: auto;
  padding: 1rem;
  border: solid 1px var(--mainColorDark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcid {
  position: relative;
  width: 600px;
  height: 600px; 
  background-color: var(--white);
  box-shadow: var(--shadow);
  margin: 2rem;
  justify-content: flex-start;
}

.subcid_image, .subcid > a {
  position: relative;
  top: 0px;
  width: 100%;
  height: auto;
}



/* About */

/* Contact */

/* Footer */

}

/* ----- Medium: Small Tablets ----- */
@media(min-width: 768px) and (max-width: 1050px) {
  /* Nav */
  #nav > h1 {
    color: var(--white);
    font-weight: 500;
    font-size: 1.75rem;
    text-transform: uppercase;
  }
  
  .burger_menu {
    display: none;
  }
  
  .nav_menu {
    width: 30%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 3.5rem;
  }
  
  .link {
    border: 1px solid var(--white);
    padding: .5rem;
    color: var(--white);
  }
  
  .link:hover, .link:active {
    background-color: var(--white);
    color: var(--mainColor);
  }
  
  
  
  /* Home */
  #home {
   justify-content: flex-start;
   position: relative;
  }

  #home > h1 {
    color: var(--mainColorDark);
  }
  
  .subcids {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  
  .subcid {
    background-color: var(--white);
    box-shadow: var(--shadow);
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    margin-bottom: 2rem;
  }
  
  .description {
    padding: .5rem;
    position: relative;
    left: .5rem;
  
  }

  .description h2 {
    margin-bottom: 1rem;
    text-decoration-line: underline;
    color: var(--mainColorDark);
  }

  .description p {
    color: var(--mainColorDark);
    font-size: 1.1rem;
    line-height: 
  }
  
  .subcid_image {
    box-shadow: var(--shadow);
    width: 20rem;
    height: auto;
  }
  
  /* About */
  #about {
    justify-content: flex-start;
    align-content: space-between;
    position: relative;
    width: 100%;
    height: auto;
  }

  #about > h1 {
    color: var(--mainColorDark);
  }

  .founders_image {
    width: 60%;
    height: auto;
    box-shadow: var(--shadow);
    margin-bottom: 2rem;
    border-radius: 100px 10px;
    position: relative;
  }

  #about > article {
    position: relative;
    width: 75%;
    padding: 1rem;
    margin: 1rem;
    box-shadow: var(--shadow);
    background-color: var(--white);
    border-radius: 5px;
  }
  
#about > article > p {
  margin: 1rem;
  color: var(--mainColorDark);
  font-size: 1.2rem;
  line-height: 1.5rem;
}

  /* Contact */
#contact {
  position: relative;
  justify-content: flex-start;
  
}

#contact > h1 {
  font-size: 2rem;
  color: var(--mainColorDark);
  margin: 1rem;
}

#contact > section {
  box-shadow: var(--shadow);
  padding: 1rem;
  margin: 1rem;
  width: 75%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

#contact > section > h1 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: var(--mainColorDark);
  text-decoration-line: underline;
}

#contact > section > p, .first_Sentence {
  color: var(--mainColorDark);
  font-size: 1.1rem;
  line-height: 1.5rem;
}

#contact > section > p {
  margin-bottom: 1rem;
}

.first_Sentence {
  font-weight: bold;
  text-decoration-line: underline;
}

.first_Sentence:active {
  color: var(--mainColor);
}

  
  /* Footer */
  }




/* ----- Extra Small: iPhone 5/SE ----- */
@media (min-width: 320px ) and (max-width: 767px) {
/* Nav */
.burger_menu{
  height: 1.5rem;
  width: .25rem;
  justify-content: space-between;
  position: relative;
  z-index: 50;
}

.patty {
  height: .32rem;
  width: 2.5rem;
  background-color: var(--white);
  border-radius: 10rem;
  transition: .6s
}

.lean_left {
transform: rotate(405deg) translate(3px, 10px);

}

.lean_right{
transform: rotate(675deg) translate(4px, -9px);
}

.go_away {
transform: rotate(360deg);
opacity: 0;
}


.nav_menu {
  z-index: 10;
  position: fixed;
  background-color: rgba(0, 0, 0, .9);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: .6s;
  
}

.nav_menu.close {
  top: -100vh;
  transition-delay: 300ms;
}

.nav_menu.open {
  top: 0;
}

.link  {
  color: var(--black);
  font-weight: 300;
  font-size: 40px;
  letter-spacing: .15rem;
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: inset var(--shadow);
}

.link:active {
  color: var(--white);
  background-color: var(--mainColor);
}

#nav > h1 {
  color: var(--white);
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: .1rem;
  text-transform: uppercase;

}

/* Home */
#home {
  position: relative;
  justify-content: flex-start;
  height: auto;
}

#home > h1 {
margin-bottom: 1rem;
color: var(--mainColorDark);
}

.subcids {
  position: relative;
}

.subcid {
  /* border: 1px solid var(--white); */
  margin: 2rem 2rem;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 30px 5px 5px 5px;

}

.subcid_image, .subcid > a {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0px 0px;

}

.description {
  padding: 1rem;
}

.description h2 {
  text-decoration: underline;
  font-weight: 700;
  margin-bottom: .5rem;
}

.description p {
  /* text-indent: 1rem; */
}

/* About */
#about {
  position: relative;
  justify-content: flex-start;
  height: auto;
}

#about > h1 {
  color: var(--mainColorDark);
}

.founders_image {
  width: 85vw;
  height: auto;
  box-shadow: var(--shadow);
  margin-bottom: 2rem;
  border-radius: 100px 10px;
}

#about > article {
  width: 85vw;
  height: auto;
  background-color: var(--white);
  padding: 1rem;
  box-shadow: var(--shadow);
  margin-bottom: 2rem;
  border-radius: 5px;
}

#about > article p {
  /* text-indent: 1rem; */
  line-height: 1.2rem;
  letter-spacing: .08rem;
  margin: 1rem 0rem;
}


/* Contact */
#contact {
  position: relative;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

#contact > h1 {
  color: var(--mainColorDark);
  font-size: 1.5rem;
  margin: 1rem;
}

#contact > section {
  margin: 1rem;
  background-color: var(--white);
  box-shadow: var(--shadow);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#contact > section > h1 {
  position: relative;
  color: var(--mainColorDark);
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  border-bottom: solid 2px var(--mainColorDark);
  padding-bottom: .5rem;
}

#contact > section > p, .first_Sentence {
  color: var(--mainColorDark);
  line-height: 1.5rem;
}

.first_Sentence {
  text-decoration-line: underline;
  font-weight: 200;
  color: var(--mainColorDark);
}

.recommended_company {
  /* text-indent: 1rem; */
  border-bottom: dashed 2px var(--mainColor);
  padding-bottom: .5rem;
}

.last{
  border-bottom: none;
  padding-bottom: none;
}


/* Footer */
}


















