/* ----- Variables ------ */
:root{
  --mainColor: #73aba6;
  --secColor: #907a70;
  --black: #1b1b1b;
  --white: #edf6f6;
}


/* ----- Universal Styling ----- */

h1, h2, p, span, Link, li, ul {
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}

a, Link, ul, li {
  text-decoration: none;

}

#nav, #home, #about, #contact, #footer, .burger_menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}



/* Nav */
#nav {
  flex-direction: row;
  background-color: var(--mainColor);
  width: 100vw;
  height: 4rem;
  justify-content: space-evenly;
  align-items: center;
}


/* Home */
#home {
  background-color: var(--secColor);
}

#home h1 {
  margin: 2rem 0;
  font-weight: 1000;
  font-size: 1.75rem;
}

/* About */

/* Contact */

/* Footer */





/* ----- Extra Small: iPhone 5/SE ----- */
@media(max-width: 380px) {
/* Nav */
.burger_menu{
  height: 2rem;
  width: 2.5rem;
  justify-content: space-between;
  position: relative;
  left: 1rem;

}

.patty {
  height: .35rem;
  width: 2.5rem;
  background-color: var(--black);
  border-radius: 10rem;
  transition: .6s
}

.lean_left {
transform: rotate(405deg) translate(9px, 10px);

}

.lean_right{
transform: rotate(675deg) translate(9px, -9px);
}

.go_away {
transform: rotate(360deg);
opacity: 0;
}


.nav_menu {
  z-index: 10;
  position: fixed;
  background-color: rgba(0, 0, 0, .8);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: .6s;
  
}

.nav_menu.close {
  top: -100vh;
}

.nav_menu.open {
  top: 0;
}

.link  {
  color: var(--white);
  font-weight: 300;
  font-size: 40px;
  letter-spacing: .15rem;
  border: solid var(--white) 1px;
  padding: 2rem;
  box-shadow: 0px 0px 15px var(--mainColor);
  background-color: var(--black);
}
/* Home */

/* About */

/* Contact */

/* Footer */
}




/* ----- Small: larger cell phones ----- */
@media(min-width: 360px) and (max-width: 414px) {
/* Nav */

/* Home */

/* About */

/* Contact */

/* Footer */
}




/* ----- Medium: Small Tablets ----- */
@media(min-width: 415px) and (max-width: 767px) {
/* Nav */

/* Home */

/* About */

/* Contact */

/* Footer */
}




/* ----- Tables: Tablets ----- */
@media(min-width: 768px) and (max-width: 1024px) {
/* Nav */

/* Home */

/* About */

/* Contact */

/* Footer */
}




/* ----- Large: Computer Monitors ----- */
@media(min-width: 1025px) {
/* Nav */

/* Home */

/* About */

/* Contact */

/* Footer */
}